// import index scss
@import '/resources/sass/comics/index.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

main {
    padding: 30px 8px;
}
