
// Import header scss
@import '/resources/sass/components/header.scss';

// import comics index scss
@import '/resources/sass/comics/index.scss';

// Import comics create scss
@import '/resources/sass/comics/create.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

ul,
ol {
    list-style: none;
}

main {
    padding: 30px 8px;
}
