
// Import header scss
@import '/resources/sass/components/header.scss';

// import comics index scss
@import '/resources/sass/comics/index.scss';

// Import comics create scss
@import '/resources/sass/comics/create.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

ul,
ol {
    list-style: none;
}

main {
    padding: 30px 8px;
}


// Classe is-invalid validation form error
.is-invalid {
    border: 5px solid #cb2821;
}

.alert-danger {
    color: #cb2821;
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;

    &::before {
        content: '!!';
        display: inline-block;
        margin-right: 5px;
    }
}