header {
  padding: 30px 20px;
}

header .menu_link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

header .menu_link li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

header .menu_link li a:hover {
  text-decoration: underline;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table:not(:last-child) {
  margin-bottom: 35px;
}

table tr {
  text-align: center;
}

table tr th {
  background-color: #d84b20;
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  border: 2px solid black;
}

table tr td {
  background-color: #007fff;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  border: 2px solid black;
}

table tr td img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  aspect-ratio: 1/1;
  display: block;
}

table tr td a {
  color: white;
  font-weight: 700;
}

table tr td a:hover {
  color: black;
  transition: color 250ms linear;
}

table tr td button {
  background-color: rgba(255, 36, 0, 0.65);
  color: white;
}

table tr td button:hover {
  background-color: #ff2400;
}

form {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

form .title,
form .description,
form .thumb,
form .series,
form .price,
form .sale_date,
form .type {
  margin-bottom: 35px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #d84b20;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 2px #d84b20;
}

form input {
  padding: 15px 15px;
  background-color: #007fff;
  color: white;
  border: none;
  width: 400px;
}

form input:last-child {
  margin-bottom: 0;
}

form input::-moz-placeholder {
  color: rgb(216, 216, 216);
}

form input:-ms-input-placeholder {
  color: rgb(216, 216, 216);
}

form input::placeholder {
  color: rgb(216, 216, 216);
}

form textarea {
  resize: none;
  padding: 10px 10px;
  background-color: #007fff;
  color: white;
  border: none;
  width: 400px;
}

form textarea::-moz-placeholder {
  color: rgb(216, 216, 216);
}

form textarea:-ms-input-placeholder {
  color: rgb(216, 216, 216);
}

form textarea::placeholder {
  color: rgb(216, 216, 216);
}

form select {
  padding: 10px 10px;
  background-color: #007fff;
  color: white;
  border: none;
  width: 400px;
}

form button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(0, 196, 26, 0.65);
  cursor: pointer;
  font-weight: 600;
  border: 2px solid transparent;
}

form button:hover {
  background-color: #00c41a;
  border: 2px solid black;
  transition: all 250ms linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

main {
  padding: 30px 8px;
}

.is-invalid {
  border: 5px solid #cb2821;
}

.alert-danger {
  color: #cb2821;
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
}

.alert-danger::before {
  content: "!!";
  display: inline-block;
  margin-right: 5px;
}

