form {
    margin: 0 auto;
    text-align: center;

    input{
        padding: 5px 10px;
        margin-bottom: 25px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 5px 10px;
    }
}