
// Table
table {
    margin: 0 auto;
    border-collapse: collapse;

    tr {
        text-align: center;

        th {
            background-color: #d84b20;
            padding: 15px 20px;
            color: white;
            font-size: 20px;
            border: 2px solid black;
        }

        td {
            background-color: #007fff;
            padding: 15px 20px;
            font-size: 18px;
            color: white;
            border: 2px solid black;

            img {
                width: 100px;
                object-fit: cover;
                object-position: top;
                aspect-ratio: 1/1;
                display: block;
            }

            a {
                color: white;
                font-weight: 700;

                &:hover {
                    color: black;
                    transition: color 250ms linear;
                }
            }
        }
    }
}